<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,140},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,279},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,418},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,557},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,696},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,835},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,974},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,1113},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,1252},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,1391},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{1,1530},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bosshalo.png</string>
            <key>size</key>
            <string>{99,1668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5eeb86e4059d641da599639041c836a:fdc08f7a0500cee3cb9ed0ee54cc9e98:d7177ed97dca20b4555c3a054adcc271$</string>
            <key>textureFileName</key>
            <string>bosshalo.png</string>
        </dict>
    </dict>
</plist>
