<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,30}</string>
                <key>spriteSize</key>
                <string>{376,540}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,545},{376,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,29}</string>
                <key>spriteSize</key>
                <string>{378,542}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{378,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,32}</string>
                <key>spriteSize</key>
                <string>{378,534}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{543,541},{378,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,31}</string>
                <key>spriteSize</key>
                <string>{376,538}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{381,1},{376,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,30}</string>
                <key>spriteSize</key>
                <string>{372,538}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{759,1},{372,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,30}</string>
                <key>spriteSize</key>
                <string>{372,538}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1133,1},{372,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,30}</string>
                <key>spriteSize</key>
                <string>{372,536}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1507,1},{372,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,31}</string>
                <key>spriteSize</key>
                <string>{376,534}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1079,541},{376,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buffitem02.png</string>
            <key>size</key>
            <string>{1880,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3419de1a437953c5c6f4087a676c45f:96e29a38f418b2af5cc810bd60881128:3f4e6324457fc3f1e0796aff500ce02a$</string>
            <key>textureFileName</key>
            <string>buffitem02.png</string>
        </dict>
    </dict>
</plist>
