<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1,1042},{118,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1,358},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,109}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1,820},{120,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{120,111}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1,707},{120,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{120,109}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1,931},{120,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{120,113}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1,592},{120,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1,475},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1,120},{120,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1,239},{120,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buffitemhalo.png</string>
            <key>size</key>
            <string>{122,1160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e3dbf5d936ae0d17a82bcc4aedfe436:66aa7b0096ea743f2237d475d6222318:1dc3a48388cc8210e0ea6a13a1fa25d5$</string>
            <key>textureFileName</key>
            <string>buffitemhalo.png</string>
        </dict>
    </dict>
</plist>
