<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,80}</string>
                <key>spriteSize</key>
                <string>{314,406}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1195,1},{314,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,82}</string>
                <key>spriteSize</key>
                <string>{314,412}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1185,443},{314,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,79}</string>
                <key>spriteSize</key>
                <string>{314,414}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{869,443},{314,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,69}</string>
                <key>spriteSize</key>
                <string>{350,440}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{843,1},{350,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,63}</string>
                <key>spriteSize</key>
                <string>{404,456}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{437,1},{404,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,56}</string>
                <key>spriteSize</key>
                <string>{422,444}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{445,459},{422,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,60}</string>
                <key>spriteSize</key>
                <string>{458,442}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,473},{458,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,67}</string>
                <key>spriteSize</key>
                <string>{470,434}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{470,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buffitem01.png</string>
            <key>size</key>
            <string>{1510,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be88ceddb3a26523166b16f3c46c8f4a:9492c9aea9c817acaf9ffb5ed5f01b03:473648a0208dc8c8f92da2f6ed9fb923$</string>
            <key>textureFileName</key>
            <string>buffitem01.png</string>
        </dict>
    </dict>
</plist>
