<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{136,141}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{707,1},{136,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{128,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{1113,1},{128,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{126,129}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{1243,1},{126,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{128,135}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{983,1},{128,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,141}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{845,1},{136,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{138,145}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{287,1},{138,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{136,145}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{427,1},{136,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,145}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,145}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{145,1},{140,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{142,145}</string>
                <key>textureRect</key>
                <string>{{565,1},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemyhalo02.png</string>
            <key>size</key>
            <string>{1370,147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9850383c4fb87dadda7946a29dd31e55:9560ce9f7b2a108065db10d435d3ae34:774fcbb2fb572d5cf79140653fd4de74$</string>
            <key>textureFileName</key>
            <string>enemyhalo02.png</string>
        </dict>
    </dict>
</plist>
