<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{93,164}</string>
                <key>spriteSourceSize</key>
                <string>{105,168}</string>
                <key>textureRect</key>
                <string>{{1,94},{93,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{99,164}</string>
                <key>spriteSourceSize</key>
                <string>{105,168}</string>
                <key>textureRect</key>
                <string>{{1,577},{99,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{103,162}</string>
                <key>spriteSourceSize</key>
                <string>{105,168}</string>
                <key>textureRect</key>
                <string>{{1,781},{103,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{95,164}</string>
                <key>spriteSourceSize</key>
                <string>{105,168}</string>
                <key>textureRect</key>
                <string>{{1,189},{95,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{95,166}</string>
                <key>spriteSourceSize</key>
                <string>{105,168}</string>
                <key>textureRect</key>
                <string>{{1,286},{95,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{101,160}</string>
                <key>spriteSourceSize</key>
                <string>{105,168}</string>
                <key>textureRect</key>
                <string>{{1,678},{101,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,168}</string>
                <key>spriteSourceSize</key>
                <string>{105,168}</string>
                <key>textureRect</key>
                <string>{{1,886},{103,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{91,166}</string>
                <key>spriteSourceSize</key>
                <string>{105,168}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{95,162}</string>
                <key>spriteSourceSize</key>
                <string>{105,168}</string>
                <key>textureRect</key>
                <string>{{1,383},{95,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{95,164}</string>
                <key>spriteSourceSize</key>
                <string>{105,168}</string>
                <key>textureRect</key>
                <string>{{1,480},{95,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemyhalo01.png</string>
            <key>size</key>
            <string>{170,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1317449aa6802382527fb08853f76e8f:bcdc47b5713e20686ed200faa35048dc:a3118a4bff58c3b946101f3b9d5866b4$</string>
            <key>textureFileName</key>
            <string>enemyhalo01.png</string>
        </dict>
    </dict>
</plist>
